/*  your css code here. If applicable */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  margin-top: 20px;
}

.modal-content p {
  margin: 0;
}

.close-modal {
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 18px;
  cursor: pointer;
}

.close-modal:focus,
#openModal:focus {
  outline: none;
}